.header {
  width: 100%;
  height: calc(100vh - 30px);
  background-color: $grey-bg;
  border-radius: 20px;
}

.logo {
  width: 200px;
  height: 40px;
  &__link {
    display: block;
    line-height: 100%;
    font-size: 0;
  }
  &__img {
    width: 100%;
  }
}
