@mixin center($direction, $content, $items) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
    align-items: $items;
}

@mixin bold($color, $weight, $style) {
    color: $color;
    font-weight: $weight;
    font-style: $style;
}

@mixin devices($breakpoint) {
    @if $breakpoint==tablet {
        @media only screen and (max-width: $tablet) {
            @content;
        }
    }
    @if $breakpoint==lTablet {
        @media only screen and (max-width: $lTablet) {
            @content;
        }
    }
    @if $breakpoint==mobile {
        @media only screen and (max-width: $mobile) {
            @content;
        }
    }
    @if $breakpoint==sDesctop {
        @media only screen and (max-width: $sDesctop) {
            @content;
        }
    }
    @if $breakpoint==lMobile {
        @media only screen and (max-width: $lMobile) {
            @content;
        }
    }
    @if $breakpoint==Desctop {
        @media only screen and (max-width: $Desctop) {
            @content;
        }
    }
}

@function strip-unit($value) {
    @return $value / ($value * 0 + 1);
}

@mixin fluid-type($min-vw, $max-vw, $min-font-size, $max-font-size) {
    $u1: unit($min-vw);
    $u2: unit($max-vw);
    $u3: unit($min-font-size);
    $u4: unit($max-font-size);
    @if $u1==$u2 and $u1==$u3 and $u1==$u4 {
        & {
            font-size: $min-font-size;
            @media screen and (min-width: $min-vw) {
                font-size: calc( #{$min-font-size} + #{strip-unit($max-font-size - $min-font-size)} * ((100vw - #{$min-vw}) / #{strip-unit($max-vw - $min-vw)}));
            }
            @media screen and (min-width: $max-vw) {
                font-size: $max-font-size;
            }
        }
    }
}