@mixin center($direction, $content, $items) {
  display: flex;
  flex-direction: $direction;
  justify-content: $content;
  align-items: $items;
}

@mixin bold($color, $weight, $style) {
  color: $color;
  font-weight: $weight;
  font-style: $style;
}
